@font-face {
    font-family: "Kalameh";
    src: url(font/KalamehWeb_Black.ttf);
  }
body {
    background-color: #000000;
}
#logo {
width: 80px;
margin-top: 20px;
}
.dices{
    margin: 50px;
    margin-left: 25px;
    margin-right: 25px;
    width: 79px;
    
}
h1{
    position: static;
    font-size :50px;
    color: #ffffff;
    font-family: "Kalameh" ;
}
.bottomleft {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 70px;
  }