@font-face {
    font-family: "Kalameh";
    src: url(font/KalamehWeb_Black.ttf);
  }
body {
    background-color: #000000;
}
#logo {
width: 80px;
margin-top: 20px;
}
.dices{
    margin: 50px;
    margin-left: 25px;
    margin-right: 25px;
    width: 79px;
    
}
h1{
    position: static;
    font-size :50px;
    color: #ffffff;
    font-family: "Kalameh" ;
}
.bottomleft {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 70px;
  }
  input{
    font-family: "Kalameh";
    color: white;
    background-color: #000000;
    border-color: red;
    height: 50%;
    width: 79px ;
    box-shadow: 0%;
    border-color: 0% ;
    border-radius: 10px;
    text-align: center;
}
  #DR{
    margin-bottom: 0px;
  }
  